---
import { getCollection } from "astro:content";
import type { Lang, Translation } from "../types";
import BaseLayout from "../layouts/BaseLayout.astro";
import { PostsList } from "../components/PostsList";

const acceptLang =
  Astro.request.headers.get("accept-language") || "";

let targetLang: Lang = "en";
if (/pt/i.test(acceptLang)) {
  targetLang = "br";
}

const posts = await getCollection("posts");
const filtered = posts.filter((p) => p.data.lang === targetLang);

const currentQuery = Astro.url.search || "";

const translation: Translation = targetLang === "en"
  ? { lang: "br", query: currentQuery }
  : { lang: "en", query: currentQuery };

return Astro.redirect(`/journal/${targetLang}`);
---

<BaseLayout
  title={targetLang === "en" ? "Daniel's Dev Journal" : "Blog Tec do Daniel"}
  description={targetLang === "en"
    ? "A dev journal documenting my projects."
    : "Um diário de desenvolvimento documentando meus projetos."}
  lang={targetLang}
  translation={translation}
  areWeHome={true}
>
  <div class="md:max-w-[800px] sm:w-3/5">
    <PostsList client:load transition:persist lang={targetLang} posts={filtered} />
  </div>
</BaseLayout>