---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { Lang } from "../../types";

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "br" } }];
}

const { lang } = Astro.params as { lang: Lang };

const posts = await getCollection("posts");
const filteredPosts = posts.filter((p) => p.data.lang === lang);

const translation: { lang: Lang } =
  lang === "en" ? { lang: "br" } : { lang: "en" };
---

<BaseLayout
  title={lang === "en" ? "Daniel's Dev Journal" : "Blog Tec do Daniel"}
  description={lang === "en"
    ? "A dev journal documenting my projects."
    : "Um diário de desenvolvimento documentando meus projetos."}
  lang={lang}
  translation={translation}
>
  <div class="md:max-w-[800px]">
    <h1 class="text-3xl mb-6">
      {lang === "en" ? "Latest Posts" : "Últimos Posts"}
    </h1>
    <ul class="space-y-4">
      {
        filteredPosts.map((post) => (
          <li>
            <a
              href={`/${lang}/posts/${post.slug}`}
              class="text-xl hover:underline font-bold"
            >
              {post.data.title}
            </a>
            <p class="text-neutral text-sm">
              &#8618; {post.data.description} -- {post.data.date.toDateString()}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
