---
import "../styles/global.css";
import NavMenu from "../components/NavMenu.astro";
import type { Lang } from "../types";
import { ClientRouter } from "astro:transitions";
import { NavMenuReact } from "../components/NavMenuReact";

interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  lang: Lang;
  slug?: string;
  translation?: {
    lang: Lang;
    slug?: string;
    title?: string;
  };
  image?: string;
  basePath?: string;
}

const {
  title,
  description,
  keywords,
  lang,
  slug,
  translation,
  image,
  basePath = "",
} = Astro.props;

const baseUrl = "https://mydomain.com"; // <-- change!!!
const canonicalUrl = slug
  ? `${baseUrl}/${lang}/posts/${slug}`
  : `${baseUrl}/${lang}`;

const homePath = lang === "br" ? `${basePath}/br/` : `${basePath}/en/`;
const areWeHome =
  Astro.url.pathname === homePath ||
  Astro.url.pathname === basePath ||
  Astro.url.pathname === basePath + "/";
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />

    <script is:inline>
      try {
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme === "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
      } else {
        document.documentElement.setAttribute("data-theme", "light");
      }
    } catch (e) {
      document.documentElement.setAttribute("data-theme", "light");
    }
    </script>
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords.join(", ")} />}
    <link rel="canonical" href={canonicalUrl} />
  </head>
  <body>
    <NavMenuReact
      client:load
      areWeHome={areWeHome}
      homePath={homePath}
      lang={lang}
      translation={translation}
    />
    <div class="mt-8 w-full h-full flex flex-col justify-center items-center">
      <slot />
    </div>
    <ClientRouter />
  </body>
</html>
