---
import "../styles/global.css";
import { NavMenu } from "../components/NavMenu";
import type { Lang } from "../types";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  lang: Lang;
  slug?: string;
  translation?: {
    lang: Lang;
    slug?: string;
    title?: string;
  };
  image?: string;
}

const { title, description, keywords, lang, slug, translation, image } = Astro.props;

const basePath = import.meta.env.BASE_URL; // "/journal/" in production, "/" in dev

// Canonical URL (absolute, for SEO)
const canonicalUrl = slug
  ? `${Astro.site}${basePath}${lang}/posts/${slug}`
  : `${Astro.site}${basePath}${lang}/`;

// Home path (respects base config)
const homePath = `${basePath}${lang}/`; //<--this repeats in dev /journal/en/journal/en? test

const areWeHome =
  Astro.url.pathname === homePath ||
  Astro.url.pathname === basePath ||
  Astro.url.pathname === basePath + "/";
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/journal/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >

    <script is:inline>
      try {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme === "dark") {
          document.documentElement.setAttribute("data-theme", "dark");
        } else {
          document.documentElement.setAttribute("data-theme", "light");
        }
      } catch (e) {
        document.documentElement.setAttribute("data-theme", "light");
      }
    </script>

    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords.join(", ")} />}

    <link rel="canonical" href={canonicalUrl} />

    <link
      rel="alternate"
      hreflang={lang === "en" ? "en" : "pt-BR"}
      href={canonicalUrl}
    />

    {
      translation && (
        <link
          rel="alternate"
          hreflang={translation.lang === "en" ? "en" : "pt-BR"}
          href={
            translation.slug
              ? `${Astro.site}${basePath}${translation.lang}/posts/${translation.slug}`
              : `${Astro.site}${basePath}${translation.lang}/`
          }
        />
      )
    }
  </head>
  <body>
    <NavMenu
      client:load
      areWeHome={areWeHome}
      homePath={homePath}
      lang={lang}
      translation={translation}
    />
    <div
      class="w-full h-full min-h-fit flex flex-col justify-center items-center px-8 py-4 pb-[5rem]"
    >
      <slot />
    </div>
    <Footer currentLang={lang} />
    <ClientRouter />
  </body>
</html>